<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="formulario">
    <div>
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          formControlName="quantidade"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="addEdit == true">
      <ion-button expand="block" color="primary" (click)="adicionar()">Adicionar</ion-button>
    </div>
    <div *ngIf="addEdit == false" style="text-align: center;">
      <ion-button style="width: 42%;" color="primary" (click)="salvarEditar()">Salvar</ion-button>
      <ion-button style="width: 42%;" color="tertiary" (click)="cancelar()">Cancelar</ion-button>
    </div>
  </form>

  <div>
    <ion-card *ngFor="let item of itens" class="new-item" color="translucent">
      <ion-item>
        <ion-label>{{item.quantidade}} - {{item.nome}}</ion-label>
        <ion-icon name="create-outline" (click)="mostrarEditar(item)"></ion-icon>
        <ion-icon name="trash" (click)="excluir(item.nome)"></ion-icon>
      </ion-item>
    </ion-card>
  </div>


</ion-content>